* {
    box-sizing: border-box;
}

.menu {
    background-color: gainsboro;
    padding: 10px;
}

.menu a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}